## Preparing a small dataset to demonstrate Baysor
I located a 4 tiles which had relatively poor segmentation with the watershed method.

I need to figure out which FOVs are associated with the four tiles

clockwise coordinates of random transcripts... \
tile 1 = (4719.57, 4567.38), fov = 643 \
tile 2 = (4793.47, 4561.24), fov = 643 \
tile 3 = (4800.14, 4643.26), fov = 642 \
tile 4 = (4899.37, 4644.08), fov = 687     # I changed the x-coordinate, forget what it was.... 

643   686

642   687

1. convert MERSCOPE visualizer coordinates to 'global_[x/y]'
    - the pixel/um conversion is 0.108, but I don't know if this is relevent...
    - based on some sampling around the coordintes I think I want fovs 643, 642, 686, 687
2. Check DAPI image to confirm location    
3. Extract fovs
4. Convert FOV pixel coordinates to global pixel coordinates

In [2]:
import pandas as pd
import numpy as np

In [29]:
dat = pd.read_csv('detected_transcripts.csv')

In [3]:
dat.describe()

,Unnamed: 0,barcode_id,global_x,global_y,global_z,x,y,fov
count,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07
mean,1.947081e+06,7.228018e+01,4.377456e+03,3.320017e+03,2.052811e+00,1.021180e+03,1.038518e+03,6.028741e+02
std,1.115200e+06,4.173471e+01,2.432362e+03,1.825665e+03,1.646991e+00,5.315368e+02,5.314654e+02,3.944839e+02
min,3.000000e+00,0.000000e+00,1.251557e+01,1.080138e+01,0.000000e+00,9.800000e+01,9.800000e+01,0.000000e+00
25%,8.770300e+05,3.300000e+01,2.202174e+03,1.720635e+03,1.000000e+00,5.650000e+02,5.815987e+02,2.380000e+02
50%,2.063756e+06,7.400000e+01,4.205366e+03,3.264294e+03,2.000000e+00,1.020390e+03,1.046738e+03,5.590000e+02
75%,3.041998e+06,1.150000e+02,6.567138e+03,4.818564e+03,3.000000e+00,1.477623e+03,1.499502e+03,9.690000e+02
max,3.978301e+06,1.390000e+02,9.210969e+03,7.608172e+03,6.000000e+00,1.950000e+03,1.950000e+03,1.290000e+03

In [45]:
dat.head()

,Unnamed: 0,barcode_id,global_x,global_y,global_z,x,y,fov,gene,transcript_id
0,2815,0,191.32565,3353.0945,0.0,1771.5338,1415.17110,0,4732456N10Rik,ENSMUST00000023714.4
1,2967,0,185.37001,3360.4915,0.0,1716.3889,1483.66040,0,4732456N10Rik,ENSMUST00000023714.4
2,14924,0,155.37741,3329.4624,3.0,1438.6797,1196.35450,0,4732456N10Rik,ENSMUST00000023714.4
3,15105,0,177.74930,3339.5513,3.0,1645.8268,1289.76930,0,4732456N10Rik,ENSMUST00000023714.4
4,25683,0,185.54400,3230.5486,6.0,1718.0000,280.48544,0,4732456N10Rik,ENSMUST00000023714.4

In [3]:
# match Visualizer coordinates to transcript table
#  dont know better way. scanning each FOV for dimensions
fov_dim = dict()
for f in range(dat['fov'].max()):
    fov = dat.loc[dat['fov'] == f, :]
    dim_x = [int(fov['global_x'].min()), int(fov['global_x'].max())]
    dim_y = [int(fov['global_y'].min()), int(fov['global_y'].max())]
    fov_dim[f] = [dim_x, dim_y]

In [115]:
# transcript location:
# trx = (4900.14, 4643.26)
trx = (4819.57, 4567.38)
# search FOVs for matching coordinate space
for f,v in fov_dim.items():
    if int(trx[0]) in range(v[0][0], v[0][1]) and int(trx[1]) in range(v[1][0], v[1][1]):
        hit = f
print(hit)

686

In [5]:
scale = (dat['global_y'][1] - dat['global_y'][0]) / (dat['y'][1] - dat['y'][0])
print(dat.loc[dat['fov']==643, 'global_x'].min()/scale)
print(dat.loc[dat['fov']==686, 'global_x'].max()/scale)
print(dat.loc[dat['fov']==643, 'global_y'].min()/scale)
print(dat.loc[dat['fov']==687, 'global_y'].max()/scale)

42693.166721468515
46396.99158559589
40841.23623422907
44544.79906683152

In [56]:
out = dat[dat['fov'].isin([643, 642, 686, 687])].copy()

In [57]:
# convert fov pixels to global pixels
#    642
out.loc[out['fov']==642, ['y']] += 1950
#    643
#      -this is top left (0,0)
#    686
out.loc[out['fov']==686, ['x']] += 1950
#    687
out.loc[out['fov']==687, ['x']] += 1950
out.loc[out['fov']==687, ['y']] += 1950

In [67]:
# converting it based on micron conversion
out.loc[:,['global_x']] = out['global_x']/scale
out.loc[:,['global_y']] = out['global_y']/scale

In [68]:
out.describe()

,Unnamed: 0,barcode_id,global_x,global_y,global_z,x,y,fov
count,8.042100e+04,80421.000000,80421.000000,80421.000000,80421.000000,80421.000000,80421.000000,80421.000000
mean,1.835227e+06,68.377352,44584.453367,42974.390345,2.014474,2039.823932,2294.284405,665.206737
std,1.010738e+06,37.893750,1096.437921,1033.486911,1.598888,1139.024935,1074.238593,22.136811
min,1.454000e+03,0.000000,42693.125982,40841.236234,0.000000,98.023360,98.094980,642.000000
25%,9.394360e+05,36.000000,43657.655692,42226.426540,1.000000,1062.571900,1483.314300,642.000000
50%,1.699179e+06,62.000000,44640.644273,43179.412048,2.000000,2143.585530,2534.316900,686.000000
75%,2.741564e+06,103.000000,45508.225097,43754.199957,3.000000,3011.184800,3109.120000,687.000000
max,3.707425e+06,139.000000,46397.005474,44544.868510,6.000000,3899.985000,3899.803700,687.000000

In [64]:
out.loc[out['fov']==687, :].describe()

,Unnamed: 0,barcode_id,global_x,global_y,global_z,x,y,fov
count,2.899100e+04,28991.000000,28991.00000,28991.000000,28991.000000,28991.000000,28991.000000,28991.0
mean,1.840872e+06,68.202822,4920.22007,4700.244284,2.025525,3059.595162,2874.778860,687.0
std,9.554269e+05,36.042028,60.56364,51.112158,1.612656,560.774432,473.260737,0.0
min,5.751000e+03,0.000000,4810.98700,4610.977000,0.000000,2048.174610,2048.230980,687.0
25%,1.343418e+06,50.000000,4860.79855,4658.328600,1.000000,2509.396270,2486.669500,687.0
50%,1.402553e+06,50.000000,4928.92970,4699.615000,2.000000,3140.241100,2868.955930,687.0
75%,2.722027e+06,101.000000,4972.77700,4730.428000,3.000000,3546.230900,3154.259350,687.0
max,3.679035e+06,139.000000,5010.98200,4810.939500,6.000000,3899.985000,3899.733900,687.0

In [69]:
out.to_csv("transcripts_4tile.csv")