## Preparing a transcripts for Baysor Preview and Run 


1. convert MERSCOPE visualizer coordinates to 'global_[x/y]'
    - the pixel/um conversion is 0.108, but I don't know if this is relevent...

In [1]:
import pandas as pd
import numpy as np

In [2]:
dat = pd.read_csv('../data/detected_transcripts.csv')

In [3]:
dat.describe()

,Unnamed: 0,barcode_id,global_x,global_y,global_z,x,y,fov
count,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07,2.703525e+07
mean,1.947081e+06,7.228018e+01,4.377456e+03,3.320017e+03,2.052811e+00,1.021180e+03,1.038518e+03,6.028741e+02
std,1.115200e+06,4.173471e+01,2.432362e+03,1.825665e+03,1.646991e+00,5.315368e+02,5.314654e+02,3.944839e+02
min,3.000000e+00,0.000000e+00,1.251557e+01,1.080138e+01,0.000000e+00,9.800000e+01,9.800000e+01,0.000000e+00
25%,8.770300e+05,3.300000e+01,2.202174e+03,1.720635e+03,1.000000e+00,5.650000e+02,5.815987e+02,2.380000e+02
50%,2.063756e+06,7.400000e+01,4.205366e+03,3.264294e+03,2.000000e+00,1.020390e+03,1.046738e+03,5.590000e+02
75%,3.041998e+06,1.150000e+02,6.567138e+03,4.818564e+03,3.000000e+00,1.477623e+03,1.499502e+03,9.690000e+02
max,3.978301e+06,1.390000e+02,9.210969e+03,7.608172e+03,6.000000e+00,1.950000e+03,1.950000e+03,1.290000e+03

In [5]:
dat.head()

,Unnamed: 0,barcode_id,global_x,global_y,global_z,x,y,fov,gene,transcript_id
0,161,0,205.033570,3673.6423,0.0,1898.4589,679.20660,0,CD4,ENST00000011653
1,1202,0,127.298164,3624.1118,2.0,1178.6866,220.59117,0,CD4,ENST00000011653
2,3738,0,102.508125,3625.4592,6.0,949.1493,233.06530,0,CD4,ENST00000011653
3,11489,3,146.474410,3673.4827,4.0,1356.2445,677.72650,0,CD22,ENST00000085219
4,13130,4,138.442900,3771.7260,0.0,1281.8787,1587.38840,0,TBX21,ENST00000177694

In [4]:
# pixel = scale * micron
scale = (dat['y'][1] - dat['y'][0]) / (dat['global_y'][1] - dat['global_y'][0])
scale

9.259252985534193

In [6]:
# convert micron to pixel
dat['global_xpixel'] = dat['global_x'] * scale
dat['global_ypixel'] = dat['global_y'] * scale

In [7]:
dat.set_index('Unnamed: 0', inplace=True)

In [ ]:
dat.to_csv("../data/detected_transcripts_wPixel.csv")